<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
  <title>Envio de SMS Node</title>
</head>
<body>
  <div class="container">
    <h2>Envio de SMS Node</h2>
    <input type="tel" name="number" id="number" placeholder="Digite seu telefone...">
    <input type="text" name="msg" id="msg" placeholder="Digite sua mensagem...">
    <input type="button" id="button" value="Enviar SMS" class="button button-primary">
    <p class="response"></p>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>